<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>♾️</text></svg>" />
  <script src="static/app.js"></script>
  <title>Infynity CRM | Lender Products</title>
</head>

<body class="min-h-dvh flex flex-col" ng-controller="controller">
  <header class="w-full bg-gradient-to-r from-[#156078] to-[#01a49c] shadow-md">
    <nav class="max-w-5xl px-5 mx-auto h-10 flex items-center">
      <div class="flex gap-4 text-white text-2xl leading-none">
        <span>∞</span>
        <span>INFYNITY</span>
      </div>
    </nav>
  </header>
  <main class="flex-1 p-4 flex bg-gradient-to-r from-[#e9edf3] to-[#e6ebf1]">
    <section class="max-w-5xl mx-auto border flex-1 rounded-md shadow-md bg-white">
      <h1 class="text-3xl text-[#1fb394] p-4">Lender Maintenance</h1>
      <hr>
      <div class="p-4 flex items-center justify-center">
        <div class="flex gap-2" ng-show="!lenders && !error">
          <span>Please wait...</span>
          <div class="w-4 aspect-square animate-spin">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text y="1em" font-size="90">🌀</text></svg>
          </div>
        </div>
        <div class="flex flex-col gap-2 p-4 bg-red-300" ng-show="error">
          <p>
            <span class="font-bold">Error:</span>
            <span>{{ error }}</span>
          </p>
          <button class="border rounded-md py-2 px-4 bg-white" ng-click="getLenders()">
            <span>
              Try again
            </span>
          </button>
        </div>
        <table class="w-full table-auto text-sm" ng-hide="!lenders || error">
          <thead class="sticky bg-white top-0 shadow-sm">
            <tr>
              <th class="p-2">
                <button>Bank Code</button>
              </th>
              <th class="p-2">
                <button>Display Name</button>
              </th>
              <th class="p-2">
                <button>Type</button>
              </th class="p-2">
              <th class="p-2" colspan="3">Commission</th>
              <th class="p-2">Balance Multiplier</th>
              <th class="p-2">Active</th>
              <th class="p-2">Hide</th>
              <th class="p-2">Edit</th>
            </tr>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th class="p-2">Upfront</th>
              <th class="p-2">Trail High</th>
              <th class="p-2">Trail Low</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="lender in lenders" ng-class="{'bg-[#f2f3f3]': $even}" class="border-y border-[#e8eaed]">
              <td class="p-2">
                <span class="font-bold">{{ lender.attributes.code }}</span>
              </td>
              <td class="p-2">
                <span>{{ lender.attributes.name }}</span>
              </td>
              <td class="p-2">
                <span>{{ lender.attributes.type }}</span>
              </td>
              <td class="p-2">
                <span>{{ lender.attributes.upfont_commission }}%</span>
              </td>
              <td class="p-2">
                <span>{{ lender.attributes.high_trail_commission }}%</span>
              </td>
              <td class="p-2">
                <span>{{ lender.attributes.low_trail_commission }}%</span>
              </td>
              <td class="p-2">
                <span>{{ lender.attributes.balance_multiplier }}</span>
              </td>
              <td class="p-2">
                <input type="checkbox" ng-model="lender.attributes.is_active" ng-true-value="true"
                  ng-false-value="false" disabled>
              </td>
              <td class="p-2">
                <input type="checkbox" ng-model="lender.attributes.is_hidden" ng-true-value="true"
                  ng-false-value="false" disabled>
              </td>
              <td class="p-2">
                <button>✎ Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </main>

</body>

</html>